<div class="card" style="padding-left: 20px;">
    <div class="card-body">
      <h5 class="card-title" style="font-weight: 800">Account Info</h5>
      <p class="card-text"></p>
    </div>
    <table>
      <tr>
        <td style="font-weight: 800">Name:</td>
        <td>{{curUser.firstName}} {{curUser.lastName}}</td>
      </tr>
      <tr>
        <td style="font-weight: 800">Email:</td>
        <td>{{curUser.email}}</td>
      </tr>
      <tr>
        <td style="font-weight: 800">Role:</td>
        <td>{{curUser.role.description}}</td>
      </tr>
      <tr>
        <td style="font-weight: 800">Height:</td>
        <td>{{feet}}' {{curUser.height%12}}"</td>
      </tr>
      <tr>
        <td style="font-weight: 800">Weight:</td>
        <td>{{curUser.weight}} lbs</td>
      </tr>
    </table>

    <div id=button style="display: flex; align-items: center; justify-content: center;">
    <button type="button" style="width: 30%; text-align: center;" (click) = "logout()" class="btn btn-secondary btn-sm">Logout</button>
    </div>

  </div>