<body style="background-color:#575a66">

    <div id = "background">
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-caption">
						<h1 class="page-title" style="color:white; text-align:center; font-size:52px; font-family: 'Open Sans', sans-serif;">Welcome to RevFit</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

    <br/>
    <br/>
    <br/>

<div class="card" style="align-items: center; background-color: #808391; ">
	<article class="login" style="background-color: #808391;">
		<p class="text-center" id="authtext" style="font-size: 1.8em; color: white; font-family: 'Open Sans', sans-serif; opacity: 1.0;">Please Log In</p>
		<form action="Login" method="POST">
		<div class="form-group" style="background-color: #808391">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-user"></i> </span>
			 </div>
			<input name="username" style="background-color:#dae0f5" class="form-control" placeholder="username" type="text">
		</div> 
		</div> 
		<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
			 </div>
			<input class="form-control" style="background-color:#dae0f5" placeholder="password" type="password" name="password">
		</div> 
		</div> 
		<div class="form-group">
		<button type="Submit" value="Log In" id="submitid" class="btn btn-primary btn-block">Login</button>
		</div> 
		<p class="text-center" style="color:white"><a href="#" class="btn">Forgot password?</a></p>
		</form>
	</article>
    </div> 
</div>
</body>