<div class="card">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">


            <div class="p-2 col-6">
                <h5 class="card-title">User Workouts</h5>
                <p class="card-text"></p>
                <table>
                   
                        <tr *ngFor="let workout of userWorkouts">
                            <td><button class="btn btn-outline-primary"
                                    (click)="selectWorkout(workout)">{{workout.name}}</button></td>
                        </tr> 
                </table>
            </div>


            <div class="p-2 col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{selected}}</h5>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>