<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">RevFit</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li [class]="home" >
        <a class="nav-link" (click)="toHome()" role="button"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li [class]="gen">
        <a class="nav-link" (click)="toWorkoutGenerator()" role="button">Workout Generator</a>
      </li>
      <li [class]="workout">
        <a class="nav-link" (click)="toWorkouts()" role="button">My Workouts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Community Portal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Revfit</a>
      </li>
    </ul>
  </div>
</nav>

<div class="d-flex flex-row justify-content-between">
  <div class="p-2 col-3">
    <app-leftcard *ngIf="islefthomedash"></app-leftcard>
    <app-leftgendash *ngIf="isleftgendash"></app-leftgendash>
    <app-workoutleft *ngIf="isleftworkouts"></app-workoutleft>
  </div>
  <div class="p-2 col-6" style="margin-top: 75px">

    <app-homedash *ngIf="ishomedash"></app-homedash>
    <app-workoutgendash *ngIf="isworkoutgendash"></app-workoutgendash>
    <app-workoutdash *ngIf="isworkouts"></app-workoutdash>
  </div>

  <div class="p-2 col-3">
    <app-rightcard *ngIf="isaccountinfo"></app-rightcard>
  </div>
</div>
