.page-header {
    position: center;
  }

.page-caption {
  padding-top: 150px;
  padding-bottom: 150px;
}
.card-section {
  position: relative;
  bottom: 10px;
}
.card-block {
  padding: 80px;
}
.section-title {
  margin-bottom: 60px;
}

.card-body {
  width: 30%;
}

.login {
  width: 20%;
}


.formBody {
	text-align:center;
	width: 25%;
	font-weight: 200;
}


#background {
    background: url('../../resources/images/workoutsplash.jpeg') no-repeat center;
    background-size: cover;
    position: center;
    
}